:root {
  --primary-color: #e48820;
  --secondary-color: #688db9;
  --third-color: #474747;
  --font-primary-color: #fff;
  --font-secondary-color: #000;
  --color-button: #829603;
  --color-button-secondary: #ddff03;

  --text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contact-section {
  padding: 10px 0;
}
.section__title {
  font-size: 26px;
  margin: 15px auto;
  color: var(--font-primary-color);
  text-align: center;
}
.contact__information {
  background: linear-gradient(290deg, rgba(104,141,185,1) 0%, rgba(94,94,115,1) 42%, rgba(90,105,159, 05) 79%);
  text-align: center;
  border-radius: 20px;
  margin-bottom: 50px;
  padding-top: 25px;
}
.contact__icon {
  font-size: 30px;
  color: #fff;
}
.contact-info__container {
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.contact__title {
  color: var(--font-primary-color);
  font-weight: bold;
}
.contact__subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.contact__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-redes {
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
.icons {
  color: var(--color-button);
  font-size: 30px;
}
.icons:hover, .icons:active {
  color: var(--color-button-secondary);

}