:root {
  --primary-color: #ffba6a;
  --secondary-color: #688db9;
  --third-color: #474747;
  --font-primary-color: #fff;
  --font-secondary-color: #000;
  --color-button: #ffff00;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
